matplotlib
pandas
Pillow
scikit-learn
scipy
statsmodels
tornado
tqdm
jupyterhub==0.9.3
seaborn
tables
h5py
jupytext
jupyterlab
ipywidgets
transformers
tensorboard
awscli
pytorch-lightning==1.5.9
pyarrow
plotly